#imagebox img{
	width: 100%; 
	height: auto; 
	bottom: 0px;
	position: absolute; 
	/*overflow: hidden;*/
	z-index: 0;
}


#myImage{
	width: 100%; 
	height: 100%; 
	bottom: 0px;
	position: absolute; 
	overflow: hidden;
	z-index: 0;

}
#car {
	width: 100%; 
	max-height: 45%; 
	min-height: 35%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:1;
	outline: none;
}

#car_handle{
	width: 50%; 
	height: auto; 
	position: absolute;
	bottom: -24%;
	left: 1%;
	z-index:1;
	
}



#note{
	width: 8%; 
	max-height: 12%; 
	position: absolute;
	left: 45%;
	bottom: 13%;
	margin-top: 80%;
	z-index:1;
}

#country{
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	width: 8%; 
	max-height: 12%; 
	position: absolute;
	right: 18%;
	bottom: 13%;
	z-index:2;
	font-size: 15px;

}

#slideSource {
	opacity: 1;
	transition: opacity 1s; 
  }
  
#slideSource.fade {
	opacity: 0;
}

#container { 

	white-space: pre-line;;

	position: relative; 
	width: 100%; 
	height: 100%; 
  } 

#map {
	bottom: 0%;
	left: 52%;
	width: 20%;
	height: 20%;
	position: absolute;
	z-index: 0;
	
	/*transform: rotate(355deg);
    -webkit-transform: rotate(355deg);
    -o-transform: rotate(355deg); 
    -moz-transform: rotate(355deg);*/
}
/* Optional: Makes the sample page fill the window. */
html, body {
	
	height: 100%;
	margin: 0;
	padding: 0;
}

.regenerate {
/*	font-size:50px;*/
	border-radius: 50%;
	border: none;
	padding: 20% 25%;
	display: inline-block;
	margin: 27% -10%;
	background-color: rgba(0,0,0,0);
    /*border: 2px solid #555555;*/
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    z-index: 3;
    overflow:hidden;
}

.regenerate:hover {
	background-color: rgba(0,0,0,0.4);
}
#welcome{
	white-space: pre;

	font-family: 'Indie Flower', cursive;
	font-size: 8px;
	background-color: opacity(0%);
	opacity:0;
	border: none;
	
	/*display: inline-block;*/
	position: absolute;
	left: 45%;
	bottom: 15%;
	margin-top: 80%;
    position: absolute;
    z-index: 5;
    overflow:hidden;
}

.rotate {
	-ms-transform: rotate(90deg);
	 -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
 }
 
 .normal {
	-ms-transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
 }

